.container {
  padding: 20px;
}

.navbar {
  background-color: #fff030 !important;
  color: white;
}

.navbar-brand {
  font-size: 24px;
}

.cart {
  display: flex;
  align-items: center;
  color: white;
  margin-left: auto;
}

.btn-cart {
  background-color: #ff9308;
  border-color: #ff9308;
  color: white;
}

.btn-cart:focus {
  background-color: #ff9308 !important;
  border-color: #fff030 !important;
  color: white !important;
}

.btn-cart:active {
  background-color: #ff9308 !important;
  border-color: #fff030 !important;
  color: white !important;
}

.btn-cart:hover {
  background-color: #ed8a08 !important;
  border-color: #ed8a08 !important;
  color: white !important;
}

.btn-cart {
  background-color: #ffc107 !important;
  border-color: #ffc107 !important;
  color: white !important;
  padding: 10px 20px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
  cursor: pointer;
}

.btn-cart i {
  font-size: 24px;
  margin-right: 5px;
}

.btn-cart:hover i {
  color: white;
}

.cart-count {
  background-color: #ff0f40;
  color: white;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  padding: 0;
  margin-left: 6px;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-count.large {
  font-size: 12px;
}

.btn-filter {
  margin-right: 10px;
}

.button-container {
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 5px;
}
